// Widescreens - min-width: 1171px
@include mediaXl {
}

// Desktop & Laptops - min-width: 769px and max-width: 1170px
@include mediaLg {
}

/*  Fixes 980px */
@include mediaFix980 {
  .about-info {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      "bioimage bio bio"
      "bioimage bio bio"
      "job1 job1 job1"
      "job2 job2 job2"
      "job3 job3 job3";
    grid-template-columns: 1fr;

    .bio-image {
      width: 220px;
    }

    .bio {
      p {
        font-size: 17px;
      }
    }

    & .job {
      max-width: 600px;
      margin: 0 auto;
    }
  }
}

// Tablets & Small Laptops - max-width: 768px
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 5px;
      font-size: 3rem;
    }

    .sm-heading {
      width: 100%;
    }

    .nick-heading {
      margin: 0 auto;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(0, 0, -100%);
    font-size: 23px;

    .portrait {
      background: $portrait-image;
      width: 120px;
      height: 120px;
      background-size: cover;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;

    .bio-image {
      margin-top: 25px;
      width: 200px;
    }

    .bio {

      p {
        font-size: 16px;
        padding: 0 15px;
      }
    }
  }
}

// Smartphones - max-width: 500px and min-height: 439px
@include mediaSm {
  main {
    padding: 1em;
  }

  h1,
  h2,
  h3 {
    &.lg-heading {
      margin-top: 10vh;
      margin-bottom: 5px;
      font-size: 35px;
    }

    &.sm-heading {
      margin-top: 10vh;
      font-size: 20px;
    }

    &.nick-heading {
      font-size: 17px;
    }
  }

  #about {

    .lg-heading {
      font-size: 30px;
      margin-top: 70px;
    }
  }
}

/* Small height - max-height: 440px */
@include mediaSmHeight {
  main {
    padding: 1rem 1rem 0 1rem;
  }

  h1,
  h2,
  h3 {
    &.lg-heading {
      margin-top: 10vh;
      margin-bottom: 5px;
      font-size: 35px;
    }

    &.sm-heading {
      margin-top: 7vh;
      font-size: 18px;
    }

    &.nick-heading {
      font-size: 17px;
    }
  }

  main {
    overflow-x: hidden;
    .icons {
      margin-top: 0;

      a {
        padding: 0.5rem;
      }
    }
  }
}
